build:
  gpu: true
  cuda: "11.2"
  python_version: "3.8"
  system_packages:
    - "libgl1-mesa-glx"
    - "libglib2.0-0"
    - "software-properties-common"
    - "ffmpeg"
    - "curl"
    - "unzip"
  python_packages:
    - "ipython==7.30.1"
    - "tensorflow-gpu==2.8.0"
    - "tensorflow-datasets==4.8.3"
    - "absl-py==1.4.0"
    - "gin-config==0.5.0"
    - "parameterized==0.8.1"
    - "mediapy==1.0.3"
    - "scikit-image==0.19.1"
    - "apache-beam==*"
  run:
    - wget -O /tmp/models.zip https://neuralstylefiles.blob.core.windows.net/models/frame-interpolation/pretrained_models-20230501T220609Z-001.zip
    - unzip /tmp/models.zip -d /
    - rm /tmp/models.zip
    - mkdir -p /intermediate

predict: "predict.py:Predictor"
