<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.5" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.23" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="ServerRegistrationManager" version="2.7.2" targetFramework="net472" />
  <package id="SharpShell" version="2.7.2" targetFramework="net472" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net472" />
</packages>